 <!-- <div>
  <div><h2>Change password</h2></div>
  <div class="container m-2 border justify-center" style="width: 400px">
    <form [formGroup]="loginRef" (ngSubmit)="changePassword()">
      <div class="row">
        <div class="form-group">
          <label for="email"><h4>EmailId</h4></label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="emailid"
            placeholder="Enter your email Id"
          />
          <span
            class="small"
            *ngIf="
              !loginRef.get('emailid')?.valid &&
              loginRef.get('emailid')?.touched
            "
          >
            <div class="alert alert-warning" role="alert">
              <h6>Please enter a valid email</h6>
            </div></span
          >
        </div>
      </div>
      <br />
      <div class="row">
        <div class="form-group">
          <label for="password"><h4>password</h4></label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Enter a strong password"
          />
          <span
            class="small"
            *ngIf="
              !loginRef.get('password')?.valid &&
              loginRef.get('password')?.touched
            "
            ><div class="alert alert-warning w-10" role="alert">
              Please enter password
            </div></span
          >
        </div>
      </div>
      <br />
      
      <br />
      <button type="submit" class="btn btn-secondary m-3">submit</button>
      <button type="reset" class="btn btn-secondary">reset</button>
    </form>
    <br />
    <span style="color: red">{{ msg }}</span
    ><br />

    <button class="btn btn-info white m-2">
      <a routerLink="/login">login</a>
    </button>
  </div>
</div>  -->


<section class="vh-100" style="background-color:black">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/assets/reset.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form  [formGroup]="loginRef" (ngSubmit)="changePassword()">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475ZM.879 8C-2.426 1.68 4.41-2 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
                    </svg>
                    <span class="h1 fw-bold mb-0">E-Medicare</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Reset Password</h5>

                  <div class="form-outline mb-4">
                    <input type="email" formControlName="emailid" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email address</label>
                    <span
            class="small"
            *ngIf="
              !loginRef.get('emailid')?.valid &&
              loginRef.get('emailid')?.touched
            "
          >
            <div class="alert alert-warning" role="alert">
              <h6>Please enter a valid email</h6>
            </div></span
          >
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" formControlName="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                    <span
            class="small"
            *ngIf="
              !loginRef.get('password')?.valid &&
              loginRef.get('password')?.touched
            "
            ><div class="alert alert-warning w-10" role="alert">
              Please enter password
            </div></span
          >
                  </div>
                  

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" >Update</button>
                    <button class="btn btn-dark btn-lg btn-block" type="reset" >Reset</button>
                  </div>
                  <span style="color:red">{{msg}}</span><br/>

                  
      <button class="btn btn-primary"routerLink="/login">Login</button>
    

                 
                  
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
