<div class="card" style="background-color:green;height: 800px;width: 100%;">
  <div
    style="
      border-radius: 200px;
      height: 200px;
      width: 200px;
      background: #f8faf5;
      margin: 0 auto;
    "
  >
    <i class="checkmark" style="padding-left:50px ;">   ✓</i>
  </div>
  <h1>Awesome!</h1>
  <p>
    Your Payment is Successfull<br />Thank You for your payment an automated
    payment receipt will be sent to your registerd Email
  </p>

  <div class="Button">
    <button
      style="background-color: dodgerblue; font-style: oblique"
      class="btn"
      routerLink="/userHome"
    >
      <b>Shop</b>
    </button>
  </div>
  <div class="Button">
    <button
      style="background-color: dodgerblue; font-style: oblique"
      class="btn"
      routerLink="/login"
    >
      <b>Logout</b>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
