<nav class="navbar navbar-expand-lg " style="background-color:darkcyan ;">
<div class="container-fluid">
  <div >
    <div  style="margin-left: 70px">
      <div class="navbar-brand" style="font-size:50px ;"><i class="bi bi-cart"></i></div>
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
      </svg>
    </div>
    <div  style="margin-left: 1050px">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <div  style="margin-right: 10px ;">
          </div>
          
         
        </form>
      </div>
    </div>
  </div>
</div>
</nav><div class="container">
  <div class="row">
    <div class="col-50">
      <h3>Billing Address</h3>
      <form [formGroup]="billingForm">
        <label class="form-label"
          ><i class="fa fa-user"></i><b> Full Name</b></label
        >
        <input
          formControlName="firstname"
          type="text"
          class="form-control"
          id="fname"
          name="firstname"
          placeholder=""
        />
        <span
          class="text-danger"
          *ngIf="firstname && firstname.touched && firstname.invalid"
          >*Firstname is required</span
        >

        <label class="form-label"
          ><i class="fa fa-address-card-o"></i><b> Address1</b></label
        >
        <input
          formControlName="address1"
          type="text"
          class="form-control"
          id="adr"
          name="address"
          placeholder=" "
        />
        <span
          class="text-danger"
          *ngIf="address1 && address1.touched && address1.invalid"
          >*Address is required</span
        >
        <label class="form-label"
          ><i class="fa fa-address-card-o"></i><b> Address2</b></label
        >
        <input
          formControlName="address2"
          type="text"
          class="form-control"
          id="adr"
          name="address"
          placeholder=" "
        />
        <span
          class="text-danger"
          *ngIf="address2 && address2.touched && address2.invalid"
          >*Address is required</span
        >
        <label class="form-label"
          ><i class="fa fa-institution"></i><b> City</b></label
        >
        <input
          formControlName="city"
          type="text"
          class="form-control"
          id="city"
          name="city"
          placeholder=""
        />
        <span class="text-danger" *ngIf="city && city.touched && city.invalid"
          >*City is required</span
        >
        <div class="row">
          <div class="col-50">
            <label class="form-label"><b>State</b></label>
            <input
              formControlName="state"
              type="text"
              class="form-control"
              id="state"
              name="state"
              placeholder=""
            />
            <span
              class="text-danger"
              *ngIf="state && state.touched && state.invalid"
              >*State is required</span
            >
          </div>
          <div class="col-50">
            <label class="form-label"><b>Zip</b></label>
            <input
              formControlName="zip"
              type="text"
              class="form-control"
              id="zip"
              name="zip"
              placeholder=""
            />
            <span class="text-danger" *ngIf="zip && zip.touched && zip.invalid"
              >*Zip is required</span
            >
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          routerLink="/checkout"
          [disabled]="billingForm.invalid"
        >
          Proceed to Payment
        </button>
        <!-- <button
      type="submit"
      [disabled]="billingForm.invalid"
      class="btn btn-primary"
    >
      Proceed to Payment
    </button> -->
      </form>
    </div>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
<hr />
