
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container"><a href="#" class="navbar-brand d-flex align-items-center">          <img  src="/assets/logo1.jpg " width="30" height="30" class="d-inline-block align-top" alt="navlogo">
    <strong>E-Medicare</strong></a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="login" class="nav-link font-italic"> Login </a></li>
        <li class="nav-item active"><a href="http://localhost:4200/signUp" class="nav-link font-italic"> Signup</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us</h1>
        <p class="lead text-muted mb-0">At you Service Since 2012</p>
        <p class="lead text-muted">Medicare is a company that supplies medicines and a couple of other healthcare essentials at an affordable price. </p>
       
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="/assets/medik.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h1 class="font-weight-light">Our Services</h1>
        <h4>Genuine Products</h4>
        <h4>On-Time delivery</h4>
        <h4>Seamless payment</h4>
        <h4>Refund And Replacement</h4>      </div>

       
      <div  class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/assets/medij.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg"  alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Contact Us</h2>
        <p  class="font-italic text-muted mb-4"><b>E-Medicare, 42nd xyz St, 43043 New abc, XX</b></p>
        <p>You can also contact us by phone 0000-109101 or email E-Medicare@medicine</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted"></p>
      </div>
    </div>

    
  </div>
</div> -->


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
  </div>
</footer>